<div style="padding-top:75px">
<h1> Hello Admin </h1>
  <div class="container" style="padding-left:100px">
  <div class="row placeholders">
      <div class="col-xs-6 col-sm-4 placeholder">
        <%= link_to(image_tag("/huha.png", :width => "140", :height =>"140"), adminprofile_champs_path) %>
        <h4>Add new championships</h4>
      </div>

      <div class="col-xs-6 col-sm-4 placeholder">
        <%= link_to(image_tag("/huha.png", :width => "140", :height =>"140"), new_event_path) %>
        <h4>Add new events</h4>
      </div>

      <div class="col-xs-6 col-sm-4 placeholder">
        <%= link_to(image_tag("/huha.png", :width => "140", :height =>"140"), adminprofile_listofstudents_path) %>
        <h4>View list of registered students</h4>
      </div>

      <div class="col-xs-6 col-sm-4 placeholder">
        <%= link_to(image_tag("/huha.png", :width => "140", :height =>"140"), adminprofile_newbatch_path) %>
        <h4>Create new batch</h4>
      </div>

      <div class="col-xs-6 col-sm-4 placeholder">
        <%= link_to(image_tag("/huha.png", :width => "140", :height =>"140"), adminprofile_selectbatch_path) %>
        <h4>Fill attendence</h4>
      </div>

      <div class="col-xs-6 col-sm-4 placeholder">
        <%= link_to(image_tag("/huha.png", :width => "140", :height =>"140"), adminprofile_studentbelts_path)%>
        <h4>Belt gradings</h4>
      </div>

    </div>
</div>