
<div style="padding-left: 10px; padding-top: 60px">
<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  
  <div class="field">
    <%= f.label :present_days %><br>
    <%= f.number_field :present_days %>
  </div>
  <div class="field">
    <%= f.label :total_days %><br>
    <%= f.number_field :total_days %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>